<form asp-action="Create" method="post" class="w-50 mx-auto mt-4">
    <h3>Nueva Factura</h3>

    <input class="form-control mb-2"
           name="ClientName"
           placeholder="Nombre del cliente"
           required />

    <button class="btn btn-primary">
        Crear Factura
    </button>
</form>
